.App {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.center-bold {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}


.slide {
  animation: slideUp .3s ease-in;
  
}

@keyframes slideUp {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
    
  }
}

